nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    border: 1px solid red;
    padding: 20px 10px;
}

.list__container ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}

.list__container ul li a {
    text-decoration: none;
    color: #000;

}